html, body {
  height 100%;
  background dark1;
}
body {
  margin 0;
}
body {
  font-family 'Roboto', sans-serif
  -ms-overflow-y auto !important
  font-size 14px
  color light2;
  font-weight 300;
}

* {
  box-sizing border-box;
}

#app-container {
  height 100%;
}

a {
  text-decoration none;
  cursor pointer;
  color white;
  &:hover {
    color darken(white, 20%);
  }
}