dark1 = #1d1f24;
dark2 = #22252b;
dark3 = #24262e;
dark4 = #2b2d35;
dark5 = #32343c;
dark6 = #3c3e47;

orange1 = #f6a821;
orange2 = #c37e08;
orange3 = darken(#c37e08, 25%);

light1 = #ffffff;
light2 = #e7e7e7;
light3 = #949ba2;

red1 = #db524b;
red2 = darken(#db524b, 35%);

green1 = #1bbf89;
green2 = rgba(#1bbf89, 0.7);

cyan1 = #56c0e0;
